<div class="max-w-96 border p-4 rounded-xl flex flex-col gap-6"
     [class.border-border-default]="!isSelected()"
     [class.border-blue-500]="isSelected()"
     (click)="selected.emit(id())"
>
  <div class="w-full flex flex-row justify-between items-center">
    <div class="w-full flex flex-row items-center gap-2">
      <div [class]="'h-4 w-4 bg-red-500 rounded-full'"></div>
      <p class="text-text-default text-p-lg font-bold">{{ title() }}</p>
    </div>


    <app-buttons
      (click)="$event.stopPropagation()"
      [matMenuTriggerFor]="roleMenu"
      [type]="'outline'"
      [iconLeft]="LucideEllipsisVertical"
      [textColor]="'neutral-300'"
      [size]="'small'"
      [rounded]="'big'"
    />

    <mat-menu #roleMenu="matMenu">
<!--      <button mat-menu-item (click)="roleEdit.emit(id())">Edytuj</button>-->
      <button mat-menu-item (click)="deleteRole()">Usuń</button>
    </mat-menu>


  </div>

  <div class="flex flex-row gap-2 items-center">
    <p class="text-p-base text-text-default font-normal">{{ description() }}</p>

    <div class="flex flex-row items-end gap-8">
      <div class="w-16 h-16 shrink-0 border border-neutral-300 rounded-full flex items-center justify-center">
        <p class="text-p-xl font-semibold text-text-default">{{ points() }}</p>
      </div>

      <div class="flex items-center justify-center">
        <p class="text-p-lg font-semibold text-text-default">33</p>
      </div>
    </div>


  </div>

</div>
<!--    <app-buttons type="filled" label="Usuń" bgColor="red-500" hoverBgColor="red-600" />-->
<!--    <app-buttons type="outline" label="Anuluj" borderColor="neutral-300" textColor="neutral-600" />-->
<!--    <app-buttons type="filled" label="Custom" bgColor="#16a34a" />-->
