/* ============================================ */
/* Material Design Tokens - Custom Values */
/* ============================================ */

/* Light Mode Colors */
$light-surface: #FAFAFA;
//$light-surface-dim: #f5f5f5;
//$light-surface-bright: #ffffff;
$light-surface-container: #F5F5F5;
$light-surface-container-low: #F5F5F5;
$light-surface-container-high: #F5F5F5;

$light-on-surface: #404040;
$light-on-surface-variant: #404040;

//$light-primary: #2196f3;
//$light-on-primary: #ffffff;
//$light-primary-container: #bbdefb;
//$light-on-primary-container: #0d47a1;

$light-outline: #404040;
//$light-outline-variant: #bdbdbd;




/* Dark Mode Colors */
$dark-surface: #262626;
//$dark-surface-dim: #0a0a0a;
//$dark-surface-bright: #1e1e1e;
$dark-surface-container: #171717;
$dark-surface-container-low: #171717;
$dark-surface-container-high: #171717;

$dark-on-surface: #F5F5F5;
$dark-on-surface-variant: #F5F5F5;

//$dark-primary: #64b5f6;
//$dark-on-primary: #0d47a1;
//$dark-primary-container: #1565c0;
//$dark-on-primary-container: #bbdefb;

$dark-outline: #F5F5F5;
//$dark-outline-variant: #333333;
