<form novalidate (submit)="createRole($event)">
    <h2 mat-dialog-title>Dodaj rolę</h2>
    <mat-dialog-content>
      <div class="flex flex-col">
        <mat-form-field appearance="fill">
          <mat-label>Nazwa</mat-label>
          <input [formField]="roleForm.name"  matInput>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Opis</mat-label>
          <textarea [formField]="roleForm.note"
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="8"
          ></textarea>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <app-buttons
        [type]="'outline'"
        [iconLeft]="LucideX"
        [size]="'small'"
        [rounded]="'big'"
        [textColor]="'text-default'"
        (buttonClick)="dialogRef.close()"
      ></app-buttons>

      <app-buttons
        [type]="'outline'"
        [buttonType]="'submit'"
        [iconLeft]="LucideCheck"
        [size]="'small'"
        [rounded]="'big'"
        [textColor]="'text-default'"
      ></app-buttons>
    </mat-dialog-actions>
</form>

