<div class="flex flex-row justify-between items-start w-full h-full bg-surface-background-default p-5 rounded-2xl">
  <div class="h-full flex flex-row items-center">
    <p class="text-h5 font-semibold text-text-default"> {{ title() }} </p>
  </div>

  <div class="flex flex-row items-center gap-5">
    <app-buttons
      [type]="'filled'"
      [iconLeft]="LucideCrown"
      [size]="'base'"
      [rounded]="'small'"
      [textColor]="'text-default'"
      [bgColor]="'rose-600'"
      (buttonClick)="markSuccess()"
    ></app-buttons>

    <h3 class="text-h3 font-bold text-text-brand"> {{ streak() }} dni </h3>

    <app-buttons
      [type]="'outline'"
      [iconLeft]="LucideEyeClosed"
      [size]="'base'"
      [rounded]="'small'"
      [textColor]="'text-default'"
      [bgColor]="'slate-950'"
      (buttonClick)="reset()"
    ></app-buttons>

  </div>

  <div class="h-full flex flex-col items-center justify-center">
    <p class="text-p-md font-semibold text-text-subtle"> REKORD </p>
    <p class="text-p-md font-semibold text-text-subtle"> {{ record() }} dni </p>
  </div>

  <app-buttons
    (click)="$event.stopPropagation()"
    [matMenuTriggerFor]="roleMenu"
    [type]="'outline'"
    [iconLeft]="LucideEllipsisVertical"
    [textColor]="'neutral-300'"
    [size]="'small'"
    [rounded]="'big'"
  />

  <mat-menu #roleMenu="matMenu">
    <button mat-menu-item (click)="editCounterCard()">Edytuj</button>
    <button mat-menu-item (click)="deleteCounterCard()">Usuń</button>
  </mat-menu>


</div>
