<div class="flex flex-row justify-between items-center min-w-1/2">
  <p class="text-h5 font-semibold text-text-default"> Tytuł </p>

  <div class="flex flex-row items-center">
    <app-buttons
      [type]="'filled'"
      [iconLeft]="LucideCrown"
      [size]="'small'"
      [rounded]="'small'"
      [textColor]="'text-default'"
      [bgColor]="'rose-600'"
    ></app-buttons>

    <h3 class="text-h3 font-bold text-text-brand"> 3 dni </h3>

    <app-buttons
      [type]="'outline'"
      [iconLeft]="LucideEyeClosed"
      [size]="'small'"
      [rounded]="'small'"
      [textColor]="'text-default'"
      [bgColor]="'slate-950'"
    ></app-buttons>

  </div>

  <div>
    <p class="text-p-md font-semibold text-text-subtle"> REKORD </p>
    <p class="text-p-md font-semibold text-text-subtle"> 8 dni </p>
  </div>


</div>
